<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Record</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="sidebar">
        <h2>LIBRARY</h2>
        <a href="/dashboard">Dashboard</a>
        <a href="/books">books</a>
        <a href="/borrowedbooks">borrowed books</a>
        <a href="/students">students record</a>
        <a href="/visits">Library Visits</a>
        <a href="/logout">logout</a>
    </div>
    <div class="main-page">
        <h1>Library Visits</h1>

        <table>
            <tr>
                <th>usn</th>
                <th>name</th>
                <th>branch</th>
                <th>entry_time</th>
                <th>exit_time</th>
                <th>duration</th>
                <th>status</th>
            </tr>

            <% visitors.forEach(visit=> { %>
                <tr>
                    <td>
                        <%= visit.usn %>
                    </td>
                    <td>
                        <%= visit.name %>
                    </td>
                    <td>
                        <%= visit.branch %>
                    </td>
                    <td>
                        <%= visit.entry_time %>
                    </td>
                    <td>
                        <%= visit.exit_time %>
                    </td>
                    <td>
                        <%= visit.duration %>
                    </td>
                    <td>
                        <%= visit.status %>
                    </td>
                </tr>
                <% }) %>
        </table>
    </div>
</body>

</html>